.mc-lists.el
.sx
.tmux
/etc
/var
ac-comphist.dat
async-bytecomp.log
auto-save-list/
elpa
elpa*
eshell
games
history
ido.last
network-security.data
request
smex-items
speed-type
tmp
tramp
transient
url
.lsp-session*
.dap-breakpoints
projectile-bookmarks.eld
/image-dired/
