.mc-lists.el
flycheck_init.el
.sx
.tmux
/etc/bm-repository
/var
ac-comphist.dat
async-bytecomp.log
auto-save-list/
eaf
elpa
elpa*
quelpa
eshell
games
history
ido.last
network-security.data
request
amx-items
smex-items
speed-type
tmp
tramp
transient
tutorial/
url
.lsp-session*
.dap-breakpoints
projectile-bookmarks.eld
projectile.cache
/projects
/image-dired/
.cache
recentf
annotations
.org-id-locations
org-roam.db
/bookmarks
*.orig
/emojis/
/iw-lib/.apl.history
